<div class="header header-fixed header-auto-show header-logo-app">
  <a href="#0" class="header-title">AMS</a>
  <a href="#" data-menu="menu-main" class="header-icon header-icon-1"><i class="fas fa-bars"></i></a>
  <a href="#" data-toggle-theme class="header-icon header-icon-2 show-on-theme-dark"><i class="fas fa-sun"></i></a>
  <a href="#" data-toggle-theme class="header-icon header-icon-2 show-on-theme-light"><i class="fas fa-moon"></i></a>
  <a href="#" data-menu="menu-highlights" class="header-icon header-icon-3"><i class="fas fa-brush"></i></a>
  </div>
  <div id="footer-bar" class="footer-bar-5">
    <a href="contact"><i data-feather="phone" data-feather-line="1" data-feather-size="21" data-feather-color="red2-dark" data-feather-bg="red2-fade-light"></i><span>Contact</span></a>
    <a href="/telechargement"><i data-feather="download" data-feather-line="1" data-feather-size="21" data-feather-color="green1-dark" data-feather-bg="green1-fade-light"></i><span>Telechargement</span></a>
    <a href="/" ><i data-feather="home" data-feather-line="1" data-feather-size="21" data-feather-color="blue2-dark" data-feather-bg="blue2-fade-light"></i><span>Accueil</span></a>
    <a href="/formation" class="active-nav"><i data-feather="youtube" data-feather-line="1" data-feather-size="21" data-feather-color="brown1-dark" data-feather-bg="brown1-fade-light"></i><span>Formation</span></a>
    <a href="/parametre" ><i data-feather="settings" data-feather-line="1" data-feather-size="21" data-feather-color="gray2-dark" data-feather-bg="gray2-fade-light"></i><span>Paramètre</span></a>
    </div>
<div class="page-content">
<div class="page-title page-title-small">
<h2><a href="#" class="back-button"><i class="fa fa-arrow-left"></i></a>Sage</h2>
<a href="#" data-menu="menu-main" class="bg-fade-gray1-dark shadow-xl preload-img" data-src="assets/images/avatars/5s.png"></a>
</div>
<div class="card header-card shape-rounded" data-card-height="150">
<div class="card-overlay bg-highlight opacity-95"></div>
<div class="card-overlay dark-mode-tint"></div>
<div class="card-bg bg-20"></div>
</div>
<div class="card card-style">

</div>
<div class="card card-style">
<div class="content mt-0 mb-0">
<div class="list-group list-custom-small list-icon-0">
  <a href="#" data-menu="1">
    <i class="fab fa-youtube color-youtube"></i>
    <span>1 : INTRODUCTION</span>
    <i class="fa fa-angle-right"></i>
    </a>
    <a href="#" data-menu="2">
      <i class="fab fa-youtube color-youtube"></i>
      <span>2 : PRESENTATION DE L'ERGONOMIE DU LOGICIEL</span>
      <i class="fa fa-angle-right"></i>
      </a>
      <a href="#" data-menu="3">
        <i class="fab fa-youtube color-youtube"></i>
        <span>3 : OUVRIR UN FICHIER EXISTANT</span>
        <i class="fa fa-angle-right"></i>
        </a>
    <a href="#" data-menu="4">
          <i class="fab fa-youtube color-youtube"></i>
          <span>4 : ENVIRONNEMENT ET POSSIBILITE DE PERSONNALISATION</span>
          <i class="fa fa-angle-right"></i>
          </a>
          <a href="#" data-menu="5">
            <i class="fab fa-youtube color-youtube"></i>
            <span>5 : PERSONNALISER UNE BARRE D'OUTILS</span>
            <i class="fa fa-angle-right"></i>
            </a>
            <a href="#" data-menu="6">
              <i class="fab fa-youtube color-youtube"></i>
              <span>6 : PERSONNALISER LA BARRE VERTICAL</span>
              <i class="fa fa-angle-right"></i>
              </a>
              <a href="#" data-menu="7">
                <i class="fab fa-youtube color-youtube"></i>
                <span>7 : PERSONNALISER L'INTUI SAGE</span>
                <i class="fa fa-angle-right"></i>
                </a>
     <a href="#" data-menu="8">
            <i class="fab fa-youtube color-youtube"></i>
            <span>8 : LES LISTES ET PERSONNALISATION D'AFFICHE</span>
            <i class="fa fa-angle-right"></i>
        </a>
        <a href="#" data-menu="9">
          <i class="fab fa-youtube color-youtube"></i>
          <span>9 : LES TRIS ET RECHERCHES</span>
          <i class="fa fa-angle-right"></i>
          </a>
          <a href="#" data-menu="10">
            <i class="fab fa-youtube color-youtube"></i>
            <span>10 : PERSONNALISATION DES LISTES</span>
            <i class="fa fa-angle-right"></i>
            </a>
    <a href="#" data-menu="11">
    <i class="fab fa-youtube color-youtube"></i>
    <span>11 : CREATION DU FICHIER COMPTABLE A L'AIDE DE L'ASSISTANT</span>
    <i class="fa fa-angle-right"></i>
    </a>
    <a href="#" data-menu="12">
      <i class="fab fa-youtube color-youtube"></i>
      <span>12 : ENREGISTREMENT DU FICHIER</span>
      <i class="fa fa-angle-right"></i>
      </a>
          <a href="#" data-menu="13">
            <i class="fab fa-youtube color-youtube"></i>
            <span>13 : LES PARAMETRES SOCIETE</span>
            <i class="fa fa-angle-right"></i>
            </a>
            <a href="#" data-menu="14">
              <i class="fab fa-youtube color-youtube"></i>
              <span>14 : CREATION DES CONTACTS</span>
              <i class="fa fa-angle-right"></i>
              </a>
              <a href="#" data-menu="15">
                <i class="fab fa-youtube color-youtube"></i>
                <span>15 : CREATION ET PARAMETRAGE DU OU DES BANQUE</span>
                <i class="fa fa-angle-right"></i>
                </a>
                <a href="#" data-menu="16">
                  <i class="fab fa-youtube color-youtube"></i>
                  <span>16 : LES CODE JOURNAUX</span>
                  <i class="fa fa-angle-right"></i>
                  </a>
                  <a href="#" data-menu="17">
                    <i class="fab fa-youtube color-youtube"></i>
                    <span>17 : LES TAUX DE TAXES</span>
                    <i class="fa fa-angle-right"></i>
                    </a>
                    <a href="#" data-menu="18">
                      <i class="fab fa-youtube color-youtube"></i>
                      <span>18 : LES MODELES DE REGLEMENT</span>
                      <i class="fa fa-angle-right"></i>
                      </a>
                      <a href="#" data-menu="19">
                        <i class="fab fa-youtube color-youtube"></i>
                        <span>19 : LE PLAN COMPTABLE CREE, MODIFIER ET SUPPRIMER UN COMPTE</span>
                        <i class="fa fa-angle-right"></i>
                        </a>
                        <a href="#" data-menu="20">
                          <i class="fab fa-youtube color-youtube"></i>
                          <span>2O : LE PLAN TIERS CREER, MODIFIER ET SUPPRIMER UN COMPTE DE TIERS (1/2)</span>
                          <i class="fa fa-angle-right"></i>
                          </a>
                          <a href="#" data-menu="21">
                            <i class="fab fa-youtube color-youtube"></i>
                            <span>21 : LE PLAN TIERS CREER, MODIFIER ET SUPPRIMER UN COMPTE DE TIERS (2/2)</span>
                            <i class="fa fa-angle-right"></i>
                            </a>

</div>
</div>
</div>

<div class="footer" data-menu-load="assets/menu-footer.html"></div>
</div>

<div id="menu-share" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-load="assets/menu-share.html" data-menu-height="420" data-menu-effect="menu-over">
</div>
<div id="menu-highlights" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-load="assets/menu-colors.html" data-menu-height="510" data-menu-effect="menu-over">
</div>
<div id="menu-main" class="menu menu-box-right menu-box-detached rounded-m" data-menu-width="260" data-menu-load="assets/menu-main.html" data-menu-active="nav-settings" data-menu-effect="menu-over">
</div>


<app-code></app-code>
{{div}}
