<div class="header header-fixed header-auto-show header-logo-app">
  <a href="#0" class="header-title">AMS</a>
  <a href="#" data-menu="menu-main" class="header-icon header-icon-1"><i class="fas fa-bars"></i></a>
  <a href="#" data-toggle-theme class="header-icon header-icon-2 show-on-theme-dark"><i class="fas fa-sun"></i></a>
  <a href="#" data-toggle-theme class="header-icon header-icon-2 show-on-theme-light"><i class="fas fa-moon"></i></a>
  <a href="#" data-menu="menu-highlights" class="header-icon header-icon-3"><i class="fas fa-brush"></i></a>
  </div>
  <div id="footer-bar" class="footer-bar-5">
    <a href="contact"><i data-feather="phone" data-feather-line="1" data-feather-size="21" data-feather-color="red2-dark" data-feather-bg="red2-fade-light"></i><span>Contact</span></a>
    <a href="/telechargement"><i data-feather="download" data-feather-line="1" data-feather-size="21" data-feather-color="green1-dark" data-feather-bg="green1-fade-light"></i><span>Téléchargement</span></a>
    <a href="/" ><i data-feather="home" data-feather-line="1" data-feather-size="21" data-feather-color="blue2-dark" data-feather-bg="blue2-fade-light"></i><span>Accueil</span></a>
    <a href="/formation" class="active-nav"><i data-feather="youtube" data-feather-line="1" data-feather-size="21" data-feather-color="brown1-dark" data-feather-bg="brown1-fade-light"></i><span>Formation</span></a>
    <a href="/parametre" ><i data-feather="settings" data-feather-line="1" data-feather-size="21" data-feather-color="gray2-dark" data-feather-bg="gray2-fade-light"></i><span>Paramètre</span></a>
    </div>
<div class="page-content">
<div class="page-title page-title-small">
<h2><a href="#" class="back-button"><i class="fa fa-arrow-left"></i></a>Sage Comptabilité</h2>
<a href="#" data-menu="menu-main" class="bg-fade-gray1-dark shadow-xl preload-img" data-src="assets/images/avatars/5s.png"></a>
</div>
<div class="card header-card shape-rounded" data-card-height="150">
<div class="card-overlay bg-highlight opacity-95"></div>
<div class="card-overlay dark-mode-tint"></div>
<div class="card-bg bg-20"></div>
</div>
<div class="card card-style">

</div>
<div class="card card-style">
<div class="content mt-0 mb-0">
<div class="list-group list-custom-small list-icon-0">
  <a href="#" data-menu="1">
    <i class="fab fa-youtube color-highlight"></i>
    <span>1 : INTRODUCTION</span>
    <i class="fa fa-angle-right"></i>
    </a>
    <a href="#" data-menu="2">
      <i class="fab fa-youtube color-highlight"></i>
      <span>2 : PRESENTATION DE L'ERGONOMIE DU LOGICIEL</span>
      <i class="fa fa-angle-right"></i>
      </a>
      <a href="#" data-menu="3">
        <i class="fab fa-youtube color-highlight"></i>
        <span>3 : OUVRIR UN FICHIER EXISTANT</span>
        <i class="fa fa-angle-right"></i>
        </a>
    <a href="#" data-menu="4">
          <i class="fab fa-youtube color-highlight"></i>
          <span>4 : ENVIRONNEMENT ET POSSIBILITÉS DE PERSONNALISATION</span>
          <i class="fa fa-angle-right"></i>
          </a>
          <a href="#" data-menu="5">
            <i class="fab fa-youtube color-highlight"></i>
            <span>5 : PERSONNALISER UNE BARRE D'OUTILS</span>
            <i class="fa fa-angle-right"></i>
            </a>
            <a href="#" data-menu="6">
              <i class="fab fa-youtube color-highlight"></i>
              <span>6 : PERSONNALISER LA BARRE VERTICAL</span>
              <i class="fa fa-angle-right"></i>
              </a>
              <a href="#" data-menu="7">
                <i class="fab fa-youtube color-highlight"></i>
                <span>7 : PERSONNALISER L'INTUIT SAGE</span>
                <i class="fa fa-angle-right"></i>
                </a>
     <a href="#" data-menu="8">
            <i class="fab fa-youtube color-highlight"></i>
            <span>8 : LES LISTES ET PERSONNALISATION D'AFFICHE</span>
            <i class="fa fa-angle-right"></i>
        </a>
        <a href="#" data-menu="9">
          <i class="fab fa-youtube color-highlight"></i>
          <span>9 : LES TRIS ET RECHERCHES</span>
          <i class="fa fa-angle-right"></i>
          </a>
          <a href="#" data-menu="10">
            <i class="fab fa-youtube color-highlight"></i>
            <span>10 : PERSONNALISATION DES LISTES</span>
            <i class="fa fa-angle-right"></i>
            </a>
            <a href="#" data-menu="11">
              <i class="fab fa-youtube color-highlight"></i>
              <span>11 : CREATION DU FICHIER COMPTABLE A L'AIDE DE L'ASSISTANT</span>
              <i class="fa fa-angle-right"></i>
              </a>
    <a href="#" data-menu="12">
      <i class="fab fa-youtube color-highlight"></i>
      <span>12 : ENREGISTREMENT DU FICHIER</span>
      <i class="fa fa-angle-right"></i>
      </a>
          <a href="#" data-menu="13">
            <i class="fab fa-youtube color-highlight"></i>
            <span>13 : LES PARAMÈTRES SOCIETE</span>
            <i class="fa fa-angle-right"></i>
            </a>
            <a href="#" data-menu="14">
              <i class="fab fa-youtube color-highlight"></i>
              <span>14 : CREATION DES CONTACTS</span>
              <i class="fa fa-angle-right"></i>
              </a>
              <a href="#" data-menu="15">
                <i class="fab fa-youtube color-highlight"></i>
                <span>15 : CREATION ET PARAMÉTRAGE DU OU DES BANQUE</span>
                <i class="fa fa-angle-right"></i>
                </a>
                <a href="#" data-menu="16">
                  <i class="fab fa-youtube color-highlight"></i>
                  <span>16 : LES CODE JOURNAUX</span>
                  <i class="fa fa-angle-right"></i>
                  </a>
                  <a href="#" data-menu="17">
                    <i class="fab fa-youtube color-highlight"></i>
                    <span>17 : LES TAUX DE TAXES</span>
                    <i class="fa fa-angle-right"></i>
                    </a>
                    <a href="#" data-menu="18">
                      <i class="fab fa-youtube color-highlight"></i>
                      <span>18 : LES MODÈLES DE RÈGLEMENT</span>
                      <i class="fa fa-angle-right"></i>
                      </a>
                      <a href="#" data-menu="19">
                        <i class="fab fa-youtube color-highlight"></i>
                        <span>19 : LE PLAN COMPTABLE CREE, MODIFIER ET SUPPRIMER UN COMPTE</span>
                        <i class="fa fa-angle-right"></i>
                        </a>
                        <a href="#" data-menu="20">
                          <i class="fab fa-youtube color-highlight"></i>
                          <span>2O : LE PLAN TIERS CRÉER, MODIFIER ET SUPPRIMER UN COMPTE DE TIERS (1/2)</span>
                          <i class="fa fa-angle-right"></i>
                          </a>
                          <a href="#" data-menu="21">
                            <i class="fab fa-youtube color-highlight"></i>
                            <span>21 : LE PLAN TIERS CRÉER, MODIFIER ET SUPPRIMER UN COMPTE DE TIERS (2/2)</span>
                            <i class="fa fa-angle-right"></i>
                            </a>
                            <a href="#" data-menu="22">
                              <i class="fab fa-youtube color-highlight"></i>
                              <span>22 : LES COLLABORATEURS CRÉER, MODIFIER ET SUPPRIMER UNE FICHE COLLABORATEURS</span>
                              <i class="fa fa-angle-right"></i>
                              </a>
                              <a href="#" data-menu="23">
                                <i class="fab fa-youtube color-highlight"></i>
                                <span>23 : LES UTILISATEURS ET NIVEAUX D'AUTORISATION</span>
                                <i class="fa fa-angle-right"></i>
                                </a>
                                <a href="#" data-menu="24">
                                  <i class="fab fa-youtube color-highlight"></i>
                                  <span>24 : LES DIFFÉRENTS TYPES DE SAISIES ET LEURS CARACTÉRISTIQUES</span>
                                  <i class="fa fa-angle-right"></i>
                                  </a>
                                  <a href="#" data-menu="25">
                                    <i class="fab fa-youtube color-highlight"></i>
                                    <span>25 : SAISIE DES A NOUVEAUX</span>
                                    <i class="fa fa-angle-right"></i>
                                    </a>
                                    <a href="#" data-menu="26">
                                      <i class="fab fa-youtube color-highlight"></i>
                                      <span>26 : SAISIE DES VENTES PAR SAISIE DES ÉCRITURES</span>
                                      <i class="fa fa-angle-right"></i>
                                      </a>
                                      <a href="#" data-menu="27">
                                        <i class="fab fa-youtube color-highlight"></i>
                                        <span>27 : COURS DE SAISIE</span>
                                        <i class="fa fa-angle-right"></i>
                                        </a>
                                        <a href="#" data-menu="28">
                                          <i class="fab fa-youtube color-highlight"></i>
                                          <span>28 : ENREGISTRER UNE FACTURE DE VENTE AVEC MODE DE RÈGLEMENT</span>
                                          <i class="fa fa-angle-right"></i>
                                          </a>
                                          <a href="#" data-menu="29">
                                            <i class="fab fa-youtube color-highlight"></i>
                                            <span>29 : ENREGISTRER UN TICKET Z AVEC MODE DE SAISIE PAR PIECES</span>
                                            <i class="fa fa-angle-right"></i>
                                            </a>
                                        <a href="#" data-menu="30">
                                              <i class="fab fa-youtube color-highlight"></i>
                                              <span>30 : SAISIE DES ACHATS FACTURE AVEC ESCOMPTE</span>
                                              <i class="fa fa-angle-right"></i>
                                              </a>
                                              <a href="#" data-menu="31">
                                                <i class="fab fa-youtube color-highlight"></i>
                                                <span>31 : CONTRÔLE DU PARAMÉTRAGE DES TAUX DE TAXE</span>
                                                <i class="fa fa-angle-right"></i>
                                                </a>
                                                <a href="#" data-menu="32">
                                                  <i class="fab fa-youtube color-highlight"></i>
                                                  <span>32 : SAISIE D'UNE NOTE DE FRAIS AVEC VENTILATION DES TAUX DE TVA</span>
                                                  <i class="fa fa-angle-right"></i>
                                                  </a>
                                                  <a href="#" data-menu="33">
                                                    <i class="fab fa-youtube color-highlight"></i>
                                                    <span>33 : SAISIE D'UN ACHAT INTRACOMMUNAUTAIRE ET AUTO-LIQUIDATION</span>
                                                    <i class="fa fa-angle-right"></i>
                                                    </a>
                                         <a href="#" data-menu="34">
                                                <i class="fab fa-youtube color-highlight"></i>
                                                <span>34 : CONTRÔLE DU PARAMÉTRAGE DE LA TVZ INTRACOMMUNAUTAIRE</span>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                            <a href="#" data-menu="35">
                                              <i class="fab fa-youtube color-highlight"></i>
                                              <span>35 : LES JOURNAUX DE SAISIE</span>
                                              <i class="fa fa-angle-right"></i>
                                              </a>
                                              <a href="#" data-menu="36">
                                                <i class="fab fa-youtube color-highlight"></i>
                                                <span>36 : CREATION D'UN MODÈLE DE SAISIE</span>
                                                <i class="fa fa-angle-right"></i>
                                                </a>
                                                <a href="#" data-menu="37">
                                                  <i class="fab fa-youtube color-highlight"></i>
                                                  <span>37 : UTILISATION D'UN MODÈLE DES SAISIES</span>
                                                  <i class="fa fa-angle-right"></i>
                                                  </a>
                                        <a href="#" data-menu="38">
                                          <i class="fab fa-youtube color-highlight"></i>
                                          <span>38 : AUTOMATISER LES CALCULS D'UN MODÈLE DE SAISIE</span>
                                          <i class="fa fa-angle-right"></i>
                                          </a>
                                              <a href="#" data-menu="39">
                                                <i class="fab fa-youtube color-highlight"></i>
                                                <span>39 : CREATION D'UN MODÈLE D'ABONNEMENT</span>
                                                <i class="fa fa-angle-right"></i>
                                                </a>
                                                <a href="#" data-menu="40">
                                                  <i class="fab fa-youtube color-highlight"></i>
                                                  <span>40 : GÉNÉRER LES ÉCRITURES D'ABONNEMENT</span>
                                                  <i class="fa fa-angle-right"></i>
                                                  </a>
                                                  <a href="#" data-menu="41">
                                                    <i class="fab fa-youtube color-highlight"></i>
                                                    <span>41 : LA RECHERCHE D'ÉCRITURES</span>
                                                    <i class="fa fa-angle-right"></i>
                                                    </a>
                                                    <a href="#" data-menu="42">
                                                      <i class="fab fa-youtube color-highlight"></i>
                                                      <span>42 : LA RÉIMPUTATION DES COMPTES</span>
                                                      <i class="fa fa-angle-right"></i>
                                                      </a>
                                                      <a href="#" data-menu="43">
                                                        <i class="fab fa-youtube color-highlight"></i>
                                                        <span>43 : SAISIE DES RÈGLEMENTS DES FOURNISSEURS</span>
                                                        <i class="fa fa-angle-right"></i>
                                                        </a>
                                                        <a href="#" data-menu="44">
                                                          <i class="fab fa-youtube color-highlight"></i>
                                                          <span>44 : SAISIE DES RÈGLEMENTS DES CLIENTS</span>
                                                          <i class="fa fa-angle-right"></i>
                                                          </a>
                                                          <a href="#" data-menu="45">
                                                            <i class="fab fa-youtube color-highlight"></i>
                                                            <span>45 : SAISIE DU LIVRE DE CAISSE</span>
                                                            <i class="fa fa-angle-right"></i>
                                                            </a>
                                                            <a href="#" data-menu="46">
                                                              <i class="fab fa-youtube color-highlight"></i>
                                                              <span>46 : CONTRÔLER LES RÈGLEMENTS</span>
                                                              <i class="fa fa-angle-right"></i>
                                                              </a>
                                                              <a href="#" data-menu="47">
                                                                <i class="fab fa-youtube color-highlight"></i>
                                                                <span>47 : RAPPROCHEMENT BANCAIRE MANUEL</span>
                                                                <i class="fa fa-angle-right"></i>
                                                                </a>
                                                                <a href="#" data-menu="48">
                                                                  <i class="fab fa-youtube color-highlight"></i>
                                                                  <span>48 : SAISIR LES ÉCRITURES DE RÉGULARISATION ET CONTRÔLER LA SAISIE</span>
                                                                  <i class="fa fa-angle-right"></i>
                                                                  </a>
                                                                  <a href="#" data-menu="49">
                                                                    <i class="fab fa-youtube color-highlight"></i>
                                                                    <span>49 : ÉDITER ET CONSULTER LES RAPPROCHEMENTS BANCAIRES</span>
                                                                    <i class="fa fa-angle-right"></i>
                                                                    </a>
                                                                    <a href="#" data-menu="50">
                                                                      <i class="fab fa-youtube color-highlight"></i>
                                                                      <span>50 : IMPORTER UN RELEVÉ BANCAIRE OU SAISIR LA BANQUE</span>
                                                                      <i class="fa fa-angle-right"></i>
                                                                      </a>
                                                                      <a href="#" data-menu="51">
                                                                        <i class="fab fa-youtube color-highlight"></i>
                                                                        <span>51 : RAPPROCHEMENT BANCAIRE AUTOMATIQUE</span>
                                                                        <i class="fa fa-angle-right"></i>
                                                                        </a>
                                                                        <a href="#" data-menu="52">
                                                                          <i class="fab fa-youtube color-highlight"></i>
                                                                          <span>52 : ÉDITER LE JUSTIFICATIF DE RAPPROCHEMENT</span>
                                                                          <i class="fa fa-angle-right"></i>
                                                                          </a>
                                                                          <a href="#" data-menu="53">
                                                                            <i class="fab fa-youtube color-highlight"></i>
                                                                            <span>53 : GÉNÉRER LES ÉCRITURES DE RÉGULARISATION</span>
                                                                            <i class="fa fa-angle-right"></i>
                                                                            </a>
                                                                            <a href="#" data-menu="54">
                                                                              <i class="fab fa-youtube color-highlight"></i>
                                                                              <span>54 : LA GESTION DES COMPTES GÉNÉRAUX</span>
                                                                              <i class="fa fa-angle-right"></i>
                                                                              </a>
                                                                              <a href="#" data-menu="55">
                                                                                <i class="fab fa-youtube color-highlight"></i>
                                                                                <span>55 : LA GESTION DES COMPTES DE TIERS</span>
                                                                                <i class="fa fa-angle-right"></i>
                                                                                </a>
                                                                            <a href="#" data-menu="56">
                                                                                  <i class="fab fa-youtube color-highlight"></i>
                                                                                  <span>56 : LETTRAGE MANUEL, PRE LETTRAGE ET POINTAGE DES COMPTES TIERS</span>
                                                                                  <i class="fa fa-angle-right"></i>
                                                                                  </a>
                                                                                  <a href="#" data-menu="57">
                                                                                    <i class="fab fa-youtube color-highlight"></i>
                                                                                    <span>57 : LETTRAGE AUTOMATIQUE DES COMPTES DE TIERS</span>
                                                                                    <i class="fa fa-angle-right"></i>
                                                                                    </a>
                                                                                    <a href="#" data-menu="58">
                                                                                      <i class="fab fa-youtube color-highlight"></i>
                                                                                      <span>58 : DELETTRAGE DES COMPTES</span>
                                                                                      <i class="fa fa-angle-right"></i>
                                                                                      </a>
                                                                                      <a href="#" data-menu="59">
                                                                                        <i class="fab fa-youtube color-highlight"></i>
                                                                                        <span>59 : LES RELANCES CLIENTS</span>
                                                                                        <i class="fa fa-angle-right"></i>
                                                                                        </a>
                                                                             <a href="#" data-menu="60">
                                                                                    <i class="fab fa-youtube color-highlight"></i>
                                                                                    <span>60 : CRÉER UN MODÈLE DE LETTRE DE RELANCE</span>
                                                                                    <i class="fa fa-angle-right"></i>
                                                                                </a>
                                                                                <a href="#" data-menu="61">
                                                                                  <i class="fab fa-youtube color-highlight"></i>
                                                                                  <span>61 : LIER UN MODÈLE A UN CLIENT ET IMPRIMER LA LETTRE DE RELANCE</span>
                                                                                  <i class="fa fa-angle-right"></i>
                                                                                  </a>
                                                                                  <a href="#" data-menu="62">
                                                                                    <i class="fab fa-youtube color-highlight"></i>
                                                                                    <span>62 : PARAMÉTRER LA DECLARATION DE TAXES</span>
                                                                                    <i class="fa fa-angle-right"></i>
                                                                                    </a>
                                                                                    <a href="#" data-menu="63">
                                                                                      <i class="fab fa-youtube color-highlight"></i>
                                                                                      <span>63 : IMPRIMER LES COMPTES DE TAXE ET L'ÉTAT PRÉPARATOIRE</span>
                                                                                      <i class="fa fa-angle-right"></i>
                                                                                      </a>
                                                                            <a href="#" data-menu="64">
                                                                              <i class="fab fa-youtube color-highlight"></i>
                                                                              <span>64 : ÉTABLIR LA DECLARATION DE TAXE</span>
                                                                              <i class="fa fa-angle-right"></i>
                                                                              </a>
                                                                                  <a href="#" data-menu="65">
                                                                                    <i class="fab fa-youtube color-highlight"></i>
                                                                                    <span>65 : GÉNÉRER L'ÉCRITURE DE CENTRALISATION</span>
                                                                                    <i class="fa fa-angle-right"></i>
                                                                                    </a>
                                                                                    <a href="#" data-menu="66">
                                                                                      <i class="fab fa-youtube color-highlight"></i>
                                                                                      <span>66 : IMPRESSION DE LA BALANCE</span>
                                                                                      <i class="fa fa-angle-right"></i>
                                                                                      </a>
                                                                                      <a href="#" data-menu="67">
                                                                                        <i class="fab fa-youtube color-highlight"></i>
                                                                                        <span>67 : IMPRESSION DU BROUILLARD DE SAISIE</span>
                                                                                        <i class="fa fa-angle-right"></i>
                                                                                        </a>
                                                                                        <a href="#" data-menu="68">
                                                                                          <i class="fab fa-youtube color-highlight"></i>
                                                                                          <span>68 : IMPRESSION DU JOURNAL</span>
                                                                                          <i class="fa fa-angle-right"></i>
                                                                                          </a>
                                                                                          <a href="#" data-menu="69">
                                                                                            <i class="fab fa-youtube color-highlight"></i>
                                                                                            <span>69 : IMPRESSION DU GRAND LIVRE</span>
                                                                                            <i class="fa fa-angle-right"></i>
                                                                                            </a>
                                                                                            <a href="#" data-menu="70">
                                                                                              <i class="fab fa-youtube color-highlight"></i>
                                                                                              <span>70 : IMPRESSION DE LA BALANCE AGEE</span>
                                                                                              <i class="fa fa-angle-right"></i>
                                                                                              </a>
                                                                                              <a href="#" data-menu="71">
                                                                                                <i class="fab fa-youtube color-highlight"></i>
                                                                                                <span>71 : IMPRESSION DES ÉTATS TIERS</span>
                                                                                                <i class="fa fa-angle-right"></i>
                                                                                                </a>
                                                                                                <a href="#" data-menu="72">
                                                                                                  <i class="fab fa-youtube color-highlight"></i>
                                                                                                  <span>72 : IMPRESSION DES STATISTIQUE</span>
                                                                                                  <i class="fa fa-angle-right"></i>
                                                                                                  </a>
                                                                                                  <a href="#" data-menu="73">
                                                                                                    <i class="fab fa-youtube color-highlight"></i>
                                                                                                    <span>73 : IMPRESSION DE L'ÉCHÉANCIER</span>
                                                                                                    <i class="fa fa-angle-right"></i>
                                                                                                    </a>
                                                                                                    <a href="#" data-menu="74">
                                                                                                      <i class="fab fa-youtube color-highlight"></i>
                                                                                                      <span>74 : CREATION D'UN PLAN ANALYTIQUE</span>
                                                                                                      <i class="fa fa-angle-right"></i>
                                                                                                      </a>
                                                                                                      <a href="#" data-menu="75">
                                                                                                        <i class="fab fa-youtube color-highlight"></i>
                                                                                                        <span>75 : CREATION D'UNE SECTION ANALYTIQUE</span>
                                                                                                        <i class="fa fa-angle-right"></i>
                                                                                                        </a>
                                                                                                        <a href="#" data-menu="76">
                                                                                                          <i class="fab fa-youtube color-highlight"></i>
                                                                                                          <span>76 : LES CODES JOURNAUX ANALYTIQUE</span>
                                                                                                          <i class="fa fa-angle-right"></i>
                                                                                                          </a>
                                                                                                          <a href="#" data-menu="77">
                                                                                                            <i class="fab fa-youtube color-highlight"></i>
                                                                                                            <span>77 : RATTACHER UN COMPTE AU PLAN ANALYTIQUE</span>
                                                                                                            <i class="fa fa-angle-right"></i>
                                                                                                            </a>
                                                                                                            <a href="#" data-menu="78">
                                                                                                              <i class="fab fa-youtube color-highlight"></i>
                                                                                                              <span>78 : SAISIR UNE ÉCRITURE AVEC VENTILATION ANALYTIQUE</span>
                                                                                                              <i class="fa fa-angle-right"></i>
                                                                                                              </a>
                                                                                                              <a href="#" data-menu="79">
                                                                                                                <i class="fab fa-youtube color-highlight"></i>
                                                                                                                <span>79 : CRÉER UN MODÈLE DE GRILLE</span>
                                                                                                                <i class="fa fa-angle-right"></i>
                                                                                                                </a>
                                                                                                                <a href="#" data-menu="80">
                                                                                                                  <i class="fab fa-youtube color-highlight"></i>
                                                                                                                  <span>80 : IMPRIMER LES ÉTATS ANALYTIQUE</span>
                                                                                                                  <i class="fa fa-angle-right"></i>
                                                                                                                  </a>
                                                                                                                  <a href="#" data-menu="81">
                                                                                                                    <i class="fab fa-youtube color-highlight"></i>
                                                                                                                    <span>81 : CREATION D'UN POSTE BUDGÉTAIRE</span>
                                                                                                                    <i class="fa fa-angle-right"></i>
                                                                                                                    </a>
                                                                                                                <a href="#" data-menu="82">
                                                                                                                      <i class="fab fa-youtube color-highlight"></i>
                                                                                                                      <span>82 : IMPRESSION DES ÉTATS BUDGÉTAIRES</span>
                                                                                                                      <i class="fa fa-angle-right"></i>
                                                                                                                      </a>
                                                                                                                      <a href="#" data-menu="83">
                                                                                                                        <i class="fab fa-youtube color-highlight"></i>
                                                                                                                        <span>83 : EMPLACEMENT DES FICHIERS COMPTABLE</span>
                                                                                                                        <i class="fa fa-angle-right"></i>
                                                                                                                        </a>
                                                                                                                        <a href="#" data-menu="84">
                                                                                                                          <i class="fab fa-youtube color-highlight"></i>
                                                                                                                          <span>84 : SAUVEGARDER LE FICHIER</span>
                                                                                                                          <i class="fa fa-angle-right"></i>
                                                                                                                          </a>
                                                                                                                          <a href="#" data-menu="85">
                                                                                                                            <i class="fab fa-youtube color-highlight"></i>
                                                                                                                            <span>85 : MAINTENANCE</span>
                                                                                                                            <i class="fa fa-angle-right"></i>
                                                                                                                            </a>
                                                                                                                 <a href="#" data-menu="86">
                                                                                                                        <i class="fab fa-youtube color-highlight"></i>
                                                                                                                        <span>86 : IMPRESSION DES ÉTATS DE FIN D'EXERCICE</span>
                                                                                                                        <i class="fa fa-angle-right"></i>
                                                                                                                    </a>
                                                                                                                    <a href="#" data-menu="87">
                                                                                                                      <i class="fab fa-youtube color-highlight"></i>
                                                                                                                      <span>87 : CREATION D'UN NOUVEL EXERCICE ET GENERATION DES REPORTS</span>
                                                                                                                      <i class="fa fa-angle-right"></i>
                                                                                                                      </a>
                                                                                                                      <a href="#" data-menu="88">
                                                                                                                        <i class="fab fa-youtube color-highlight"></i>
                                                                                                                        <span>88 : CLOTURE DES JOURNAUX</span>
                                                                                                                        <i class="fa fa-angle-right"></i>
                                                                                                                        </a>
                                                                                                                        <a href="#" data-menu="89">
                                                                                                                          <i class="fab fa-youtube color-highlight"></i>
                                                                                                                          <span>89 : CLOTURE DE L'EXERCICE</span>
                                                                                                                          <i class="fa fa-angle-right"></i>
                                                                                                                          </a>


</div>
</div>
</div>

<div class="footer" data-menu-load="assets/menu-footer.html"></div>
</div>

<div id="menu-share" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-load="assets/menu-share.html" data-menu-height="420" data-menu-effect="menu-over">
</div>
<div id="menu-highlights" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-load="assets/menu-colors.html" data-menu-height="510" data-menu-effect="menu-over">
</div>
<div id="menu-main" class="menu menu-box-right menu-box-detached rounded-m" data-menu-width="260" data-menu-load="assets/menu-main.html" data-menu-active="nav-settings" data-menu-effect="menu-over">
</div>


<app-code></app-code>
{{div}}
