<div class="header header-fixed header-auto-show header-logo-app">
  <a href="#0" class="header-title">AMS</a>
  <a href="#" data-menu="menu-main" class="header-icon header-icon-1"><i class="fas fa-bars"></i></a>
  <a href="#" data-toggle-theme class="header-icon header-icon-2 show-on-theme-dark"><i class="fas fa-sun"></i></a>
  <a href="#" data-toggle-theme class="header-icon header-icon-2 show-on-theme-light"><i class="fas fa-moon"></i></a>
  <a href="#" data-menu="menu-highlights" class="header-icon header-icon-3"><i class="fas fa-brush"></i></a>
  </div>
  <div id="footer-bar" class="footer-bar-5">
    <a href="contact"><i data-feather="phone" data-feather-line="1" data-feather-size="21" data-feather-color="red2-dark" data-feather-bg="red2-fade-light"></i><span>Contact</span></a>
    <a href="/telechargement"><i data-feather="download" data-feather-line="1" data-feather-size="21" data-feather-color="green1-dark" data-feather-bg="green1-fade-light"></i><span>Telechargement</span></a>
    <a href="/" ><i data-feather="home" data-feather-line="1" data-feather-size="21" data-feather-color="blue2-dark" data-feather-bg="blue2-fade-light"></i><span>Accueil</span></a>
    <a href="/formation" class="active-nav"><i data-feather="youtube" data-feather-line="1" data-feather-size="21" data-feather-color="brown1-dark" data-feather-bg="brown1-fade-light"></i><span>Formation</span></a>
    <a href="/parametre" ><i data-feather="settings" data-feather-line="1" data-feather-size="21" data-feather-color="gray2-dark" data-feather-bg="gray2-fade-light"></i><span>Paramètre</span></a>
    </div>
<div class="page-content">
<div class="page-title page-title-small">
<h2><a href="#" data-back-button><i class="fa fa-arrow-left"></i></a>Sage</h2>
<a href="#" data-menu="menu-main" class="bg-fade-gray1-dark shadow-xl preload-img" data-src="assets/images/avatars/5s.png"></a>
</div>
<div class="card header-card shape-rounded" data-card-height="150">
<div class="card-overlay bg-highlight opacity-95"></div>
<div class="card-overlay dark-mode-tint"></div>
<div class="card-bg bg-20"></div>
</div>
<div class="card card-style">

</div>
<div class="card card-style">
<div class="content mt-0 mb-0">
<div class="list-group list-custom-small list-icon-0">

<a href="#" data-menu="1">
<i class="fab fa-youtube color-youtube"></i>
<span>1 : INTRODUCTION</span>
<i class="fa fa-angle-right"></i>
</a>
<a href="#" data-menu="2">
  <i class="fab fa-youtube color-youtube"></i>
  <span>2 : PRESENTATION DE L'ERGONOMIE DU LOGICIEL</span>
  <i class="fa fa-angle-right"></i>
  </a>
  <a href="#" data-menu="3">
    <i class="fab fa-youtube color-youtube"></i>
    <span>3 : OUVRIR UN FICHIER EXISTANT</span>
    <i class="fa fa-angle-right"></i>
    </a>
<a href="#" data-menu="4">
      <i class="fab fa-youtube color-youtube"></i>
      <span>4 : ENVIRONNEMENT ET POSSIBILITE DE PERSONNALISATION</span>
      <i class="fa fa-angle-right"></i>
      </a>
      <a href="#" data-menu="5">
        <i class="fab fa-youtube color-youtube"></i>
        <span>5 : PERSONNALISER UNE BARRE D'OUTILS</span>
        <i class="fa fa-angle-right"></i>
        </a>
        <a href="#" data-menu="6">
          <i class="fab fa-youtube color-youtube"></i>
          <span>6 : PERSONNALISER LA BARRE VERTICAL</span>
          <i class="fa fa-angle-right"></i>
          </a>
          <a href="#" data-menu="7">
            <i class="fab fa-youtube color-youtube"></i>
            <span>7 : PERSONNALISER L'INTUI SAGE</span>
            <i class="fa fa-angle-right"></i>
            </a>
 <a href="#" data-menu="8">
        <i class="fab fa-youtube color-youtube"></i>
        <span>8 : LES LISTES ET PERSONNALISATION D'AFFICHE</span>
        <i class="fa fa-angle-right"></i>
		</a>
		<a href="#" data-menu="9">
			<i class="fab fa-youtube color-youtube"></i>
			<span>9 : LES TRIS ET RECHERCHES</span>
			<i class="fa fa-angle-right"></i>
      </a>
      <a href="#" data-menu="10">
        <i class="fab fa-youtube color-youtube"></i>
        <span>10 : PERSONNALISATION DES LISTES</span>
        <i class="fa fa-angle-right"></i>
        </a>
<a href="#" data-menu="11">
<i class="fab fa-youtube color-youtube"></i>
<span>11 : CREATION DU FICHIER COMPTABLE A L'AIDE DE L'ASSISTANT</span>
<i class="fa fa-angle-right"></i>
</a>
<a href="#" data-menu="12">
  <i class="fab fa-youtube color-youtube"></i>
  <span>12 : ENREGISTREMENT DU FICHIER</span>
  <i class="fa fa-angle-right"></i>
  </a>
      <a href="#" data-menu="13">
        <i class="fab fa-youtube color-youtube"></i>
        <span>13 : LES PARAMETRES SOCIETE</span>
        <i class="fa fa-angle-right"></i>
        </a>
        <a href="#" data-menu="14">
          <i class="fab fa-youtube color-youtube"></i>
          <span>14 : CREATION DES CONTACTS</span>
          <i class="fa fa-angle-right"></i>
          </a>
          <a href="#" data-menu="15">
            <i class="fab fa-youtube color-youtube"></i>
            <span>15 : CREATION ET PARAMETRAGE DU OU DES BANQUE</span>
            <i class="fa fa-angle-right"></i>
            </a>
            <a href="#" data-menu="16">
              <i class="fab fa-youtube color-youtube"></i>
              <span>16 : LES CODE JOURNAUX</span>
              <i class="fa fa-angle-right"></i>
              </a>
              <a href="#" data-menu="17">
                <i class="fab fa-youtube color-youtube"></i>
                <span>17 : LES TAUX DE TAXES</span>
                <i class="fa fa-angle-right"></i>
                </a>
                <a href="#" data-menu="18">
                  <i class="fab fa-youtube color-youtube"></i>
                  <span>18 : LES MODELES DE REGLEMENT</span>
                  <i class="fa fa-angle-right"></i>
                  </a>
                  <a href="#" data-menu="19">
                    <i class="fab fa-youtube color-youtube"></i>
                    <span>19 : LE PLAN COMPTABLE CREE, MODIFIER ET SUPPRIMER UN COMPTE</span>
                    <i class="fa fa-angle-right"></i>
                    </a>
                    <a href="#" data-menu="20">
                      <i class="fab fa-youtube color-youtube"></i>
                      <span>2O : LE PLAN TIERS CREER, MODIFIER ET SUPPRIMER UN COMPTE DE TIERS (1/2)</span>
                      <i class="fa fa-angle-right"></i>
                      </a>
                      <a href="#" data-menu="21">
                        <i class="fab fa-youtube color-youtube"></i>
                        <span>21 : LE PLAN TIERS CREER, MODIFIER ET SUPPRIMER UN COMPTE DE TIERS (2/2)</span>
                        <i class="fa fa-angle-right"></i>
                        </a>
</div>
</div>
</div>

<div class="footer" data-menu-load="assets/menu-footer.html"></div>
</div>

<div id="menu-share" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-load="assets/menu-share.html" data-menu-height="420" data-menu-effect="menu-over">
</div>
<div id="menu-highlights" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-load="assets/menu-colors.html" data-menu-height="510" data-menu-effect="menu-over">
</div>
<div id="menu-main" class="menu menu-box-right menu-box-detached rounded-m" data-menu-width="260" data-menu-load="assets/menu-main.html" data-menu-active="nav-settings" data-menu-effect="menu-over">
</div>


<div id="1" class="menu menu-box-modal rounded-m" data-menu-height="460" data-menu-width="400">
 <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/7_lm8eXa89Q?list=PLcZMVrcMYQy5PPBU61q22ZSmJgOf9LoGX' frameborder='0' allowfullscreen></iframe></div>
<h3 class="text-center font-700 mt-3">1 : INTRODUCTION</h3>
<p class="boxed-text-l">
Agrandissez la video et profité
</p>
<a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
<br>
<a href="#" data-menu="2" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
</div>
<div id="2" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
  <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/voPuKB6AUFI' frameborder='0' allowfullscreen></iframe></div>
 <h3 class="text-center font-700 mt-3">2 : PRESENTATION DE L'ERGONOMIE DU LOGICIEL</h3>
 <p class="boxed-text-l">
 Agrandissez la video et profité
 </p>
 <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
 <br>
 <a href="#" data-menu="3" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
 </div>
 <div id="3" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
  <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/q3_SxLS3XIo' frameborder='0' allowfullscreen></iframe></div>
 <h3 class="text-center font-700 mt-3">3 : OUVRIR UN FICHIER EXISTANT</h3>
 <p class="boxed-text-l">
 Agrandissez la video et profité
 </p>
 <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
 <br>
 <a href="#" data-menu="4" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
 </div>

 <div id="4" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
  <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/seKfkhxk1sI' frameborder='0' allowfullscreen></iframe></div>
 <h3 class="text-center font-700 mt-3">4 : ENVIRONNEMENT ET POSSIBILITE DE PERSONNALISATION</h3>
 <p class="boxed-text-l">
 Agrandissez la video et profité
 </p>
 <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
 <br>
 <a href="#" data-menu="5" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
 </div>

 <div id="5" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
  <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/92k740Be-sc' frameborder='0' allowfullscreen></iframe></div>
 <h3 class="text-center font-700 mt-3">5 : PERSONNALISER UNE BARRE D'OUTILS</h3>
 <p class="boxed-text-l">
 Agrandissez la video et profité
 </p>
 <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
 <br>
 <a href="#" data-menu="6" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
 </div>

 <div id="6" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
  <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/FnQ4pBCG4UI' frameborder='0' allowfullscreen></iframe></div>
 <h3 class="text-center font-700 mt-3">6 : PERSONNALISER LA BARRE VERTICAL</h3>
 <p class="boxed-text-l">
 Agrandissez la video et profité
 </p>
 <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
 <br>
 <a href="#" data-menu="7" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
 </div>

 <div id="7" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
  <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/WwNY9t4tsts' frameborder='0' allowfullscreen></iframe></div>
 <h3 class="text-center font-700 mt-3">7 : PERSONNALISER L'INTUI SAGE</h3>
 <p class="boxed-text-l">
 Agrandissez la video et profité
 </p>
 <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
 <br>
 <a href="#" data-menu="8" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
 </div>

 <div id="8" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
  <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/O9YqJsD_l2M' frameborder='0' allowfullscreen></iframe></div>
 <h3 class="text-center font-700 mt-3">8 : LES LISTES ET PERSONNALISATION D'AFFICHE</h3>
 <p class="boxed-text-l">
 Agrandissez la video et profité
 </p>
 <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
 <br>
 <a href="#" data-menu="9" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
 </div>

 <div id="9" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
  <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/-GLNk9aOtKs' frameborder='0' allowfullscreen></iframe></div>
 <h3 class="text-center font-700 mt-3">9 : LES TRIS ET RECHERCHES</h3>
 <p class="boxed-text-l">
 Agrandissez la video et profité
 </p>
 <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
 <br>
 <a href="#" data-menu="10" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
 </div>

 <div id="10" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
  <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/Ai3GZXIpMUY' frameborder='0' allowfullscreen></iframe></div>
 <h3 class="text-center font-700 mt-3">10 : PERSONNALISATION DES LISTES</h3>
 <p class="boxed-text-l">
 Agrandissez la video et profité
 </p>
 <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
 <br>
 <a href="#" data-menu="11" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
 </div>

 <div id="11" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
  <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/ZPq8nuG8Yg4' frameborder='0' allowfullscreen></iframe></div>
 <h3 class="text-center font-700 mt-3">11 : CREATION DU FICHIER COMPTABLE A L'AIDE DE L'ASSISTANT</h3>
 <p class="boxed-text-l">
 Agrandissez la video et profité
 </p>
 <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
 <br>
 <a href="#" data-menu="12" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
 </div>

 <div id="12" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
  <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/2pGDC-jVZOM' frameborder='0' allowfullscreen></iframe></div>
 <h3 class="text-center font-700 mt-3">12 : ENREGISTREMENT DU FICHIER</h3>
 <p class="boxed-text-l">
 Agrandissez la video et profité
 </p>
 <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
 <br>
 <a href="#" data-menu="13" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
 </div>

 <div id="13" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
  <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/ntLoDQ0w0Zs' frameborder='0' allowfullscreen></iframe></div>
 <h3 class="text-center font-700 mt-3">13 : LES PARAMETRES SOCIETE </h3>
 <p class="boxed-text-l">
 Agrandissez la video et profité
 </p>
 <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
 <br>
 <a href="#" data-menu="14" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
 </div>


 <div id="14" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
  <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/8Uddc0-abTA' frameborder='0' allowfullscreen></iframe></div>
 <h3 class="text-center font-700 mt-3">14 : CREATION DES CONTACTS</h3>
 <p class="boxed-text-l">
 Agrandissez la video et profité
 </p>
 <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
 <br>
 <a href="#" data-menu="15" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
 </div>

 <div id="15" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
  <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/_gS2q1PSNGU' frameborder='0' allowfullscreen></iframe></div>
 <h3 class="text-center font-700 mt-3">15 : CREATION ET PARAMETRAGE DU OU DES BANQUE</h3>
 <p class="boxed-text-l">
 Agrandissez la video et profité
 </p>
 <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
 <br>
 <a href="#" data-menu="16" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
 </div>

 <div id="16" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
  <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/bK305QyBDs0' frameborder='0' allowfullscreen></iframe></div>
 <h3 class="text-center font-700 mt-3">16 : LES CODE JOURNAUX</h3>
 <p class="boxed-text-l">
 Agrandissez la video et profité
 </p>
 <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
 <br>
 <a href="#" data-menu="17" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
 </div>

 <div id="17" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
  <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/MAljZZswMJE' frameborder='0' allowfullscreen></iframe></div>
 <h3 class="text-center font-700 mt-3">17 : LES TAUX DE TAXES</h3>
 <p class="boxed-text-l">
 Agrandissez la video et profité
 </p>
 <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
 <br>
 <a href="#" data-menu="18" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
 </div>

 <div id="18" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
  <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/1SNSeeTRsno' frameborder='0' allowfullscreen></iframe></div>
 <h3 class="text-center font-700 mt-3">18 : LES MODELES DE REGLEMENT</h3>
 <p class="boxed-text-l">
 Agrandissez la video et profité
 </p>
 <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
 <br>
 <a href="#" data-menu="19" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
 </div>

 <div id="19" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
  <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/FVeGH1vaElc' frameborder='0' allowfullscreen></iframe></div>
 <h3 class="text-center font-700 mt-3">19 : LE PLAN COMPTABLE CREE, MODIFIER ET SUPPRIMER UN COMPTE</h3>
 <p class="boxed-text-l">
 Agrandissez la video et profité
 </p>
 <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
 <br>
 <a href="#" data-menu="20" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
 </div>

 <div id="20" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
  <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/ZoKH7_OOUjQ' frameborder='0' allowfullscreen></iframe></div>
 <h3 class="text-center font-700 mt-3">2O : LE PLAN TIERS CREER, MODIFIER ET SUPPRIMER UN COMPTE DE TIERS (1/2)</h3>
 <p class="boxed-text-l">
 Agrandissez la video et profité
 </p>
 <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
 <br>
 <a href="#" data-menu="21" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
 </div>
