<div id="page">

  <div class="header header-fixed header-auto-show header-logo-app">
  <a href="index-2.html" class="header-title">AMS</a>
  <a href="#" data-back-button class="header-icon header-icon-1"><i class="fas fa-arrow-left"></i></a>
  <a href="#" data-toggle-theme class="header-icon header-icon-2 show-on-theme-dark"><i class="fas fa-sun"></i></a>
  <a href="#" data-toggle-theme class="header-icon header-icon-2 show-on-theme-light"><i class="fas fa-moon"></i></a>
  <a href="#" data-menu="menu-highlights" class="header-icon header-icon-3"><i class="fas fa-brush"></i></a>
  </div>
  <div id="footer-bar" class="footer-bar-5">
  <a href="/blog"><i data-feather="book" data-feather-line="1" data-feather-size="21" data-feather-color="red2-dark" data-feather-bg="red2-fade-light"></i><span>Blog</span></a>
  <a href="/telechargement"><i data-feather="download" data-feather-line="1" data-feather-size="21" data-feather-color="green1-dark" data-feather-bg="green1-fade-light"></i><span>Telechargement</span></a>
  <a routerLink="/" ><i data-feather="home" data-feather-line="1" data-feather-size="21" data-feather-color="blue2-dark" data-feather-bg="blue2-fade-light"></i><span>Accueil</span></a>
  <a href="formation"><i data-feather="youtube" data-feather-line="1" data-feather-size="21" data-feather-color="brown1-dark" data-feather-bg="brown1-fade-light"></i><span>Formation</span></a>
  <a routerLink="/parametre" routerLinkActive="active-nav"><i data-feather="settings" data-feather-line="1" data-feather-size="21" data-feather-color="gray2-dark" data-feather-bg="gray2-fade-light"></i><span>Paramètre</span></a>
  </div>
  <div class="page-content">
    <div class="page-title page-title-small">
    <h2><a href="#" data-back-button><i class="fa fa-arrow-left"></i></a>retour</h2>
    <a href="#" data-menu="menu-main" class="bg-fade-gray1-dark shadow-xl preload-img" data-src="assets/images/avatars/5s.png"></a>
    </div>
    <div class="card header-card shape-rounded" data-card-height="210">
    <div class="card-overlay bg-highlight opacity-95"></div>
    <div class="card-overlay dark-mode-tint"></div>
    <div class="card-bg bg-20"></div>
    </div>
<div class="card card-style">
<div class="content mt-0 mb-2">
<div class="list-group list-custom-large mb-4">
<a href="#" data-toggle-theme class="show-on-theme-light">
<i class="fa font-14 fa-moon bg-brown1-dark rounded-sm"></i>
<span>Thème Sombre</span>
<strong>Le theme sombre est disponible</strong>
<i class="fa fa-angle-right mr-2"></i>
</a>
<a href="#" data-toggle-theme class="show-on-theme-dark">
<i class="fa font-14 fa-lightbulb bg-yellow1-dark rounded-sm"></i>
<span>Theme Clair</span>
<strong>Le theme clair est disponible</strong>
<i class="fa fa-angle-right mr-2"></i>
</a>
<a href="#" data-menu="menu-highlights">
<i class="fa font-14 fa-brush bg-highlight color-white rounded-sm"></i>
<span>Couleur du site</span>
<strong>des tonnes de couleurs pour personnaliser le site</strong>
<i class="fa fa-angle-right mr-2"></i>
</a>

<a href="#" data-menu="menu-language">
<i class="fa font-14 fa-globe bg-green1-dark rounded-sm"></i>
<span>Langue</span>
<strong>Multilingue</strong>
<i class="fa fa-angle-right mr-2"></i>
</a>
</div>

</div>
<div class="footer" data-menu-load="assets/menu-footer.html"></div>
</div>

<div id="menu-share" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-load="assets/menu-share.html" data-menu-height="420" data-menu-effect="menu-over">
</div>
<div id="menu-highlights" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-load="assets/menu-colors.html" data-menu-height="510" data-menu-effect="menu-over">
</div>
<div id="menu-main" class="menu menu-box-right menu-box-detached rounded-m" data-menu-width="260" data-menu-load="assets/menu-main.html" data-menu-active="nav-welcome" data-menu-effect="menu-over">
</div>
