<!-- en-tête -->
<div class="header header-fixed header-auto-show header-logo-app">
  <a href="#0" class="header-title">AMS</a>
  <a href="#" data-menu="menu-main" class="header-icon header-icon-1"><i class="fas fa-bars"></i></a>
  <a href="#" data-toggle-theme class="header-icon header-icon-2 show-on-theme-dark"><i class="fas fa-sun"></i></a>
  <a href="#" data-toggle-theme class="header-icon header-icon-2 show-on-theme-light"><i class="fas fa-moon"></i></a>
  <a href="#" data-menu="menu-highlights" class="header-icon header-icon-3"><i class="fas fa-brush"></i></a>
  </div>
  <!-- fin d'en-tête -->
  <!-- pieds de page -->
  <div id="footer-bar" class="footer-bar-5">
    <a href="contact"><i data-feather="phone" data-feather-line="1" data-feather-size="21" data-feather-color="red2-dark" data-feather-bg="red2-fade-light"></i><span>Contact</span></a>
    <a href="/telechargement"><i data-feather="download" data-feather-line="1" data-feather-size="21" data-feather-color="green1-dark" data-feather-bg="green1-fade-light"></i><span>Téléchargement</span></a>
    <a href="/" class="active-nav"><i data-feather="home" data-feather-line="1" data-feather-size="21" data-feather-color="blue2-dark" data-feather-bg="blue2-fade-light"></i><span>Accueil</span></a>
    <a href="/formation"><i data-feather="youtube" data-feather-line="1" data-feather-size="21" data-feather-color="brown1-dark" data-feather-bg="brown1-fade-light"></i><span>Formation</span></a>
    <a href="/parametre"><i data-feather="settings" data-feather-line="1" data-feather-size="21" data-feather-color="gray2-dark" data-feather-bg="gray2-fade-light"></i><span>Paramètre</span></a>
    </div>
  <!-- fin de pieds de page -->
  <div class="page-content">
  <div class="page-title page-title-large">
    <!-- en tête de bienvenue -->
  <h2 data-username="Bienvenue" class="greeting-text"></h2>
  <a href="#" data-menu="menu-main" class="bg-fade-gray1-dark shadow-xl preload-img" data-src="assets/images/avatars/5s.png"></a>
  </div>
  <div class="card header-card shape-rounded" data-card-height="210">
  <div class="card-overlay bg-highlight opacity-95"></div>
  <div class="card-overlay dark-mode-tint"></div>
  <div class="card-bg preload-img" data-src="assets/images/pictures/20s.jpg"></div>
  </div>
<!-- fin d'en-tête de bienvenue -->
<!-- debut de carousel -->
  <div class="single-slider-boxed text-center owl-no-dots owl-carousel">
    <!-- carousel de blog -->
  <div class="card rounded-l shadow-l" data-card-height="320">
  <div class="card-bottom">
  <h1 class="font-24 font-700">Blog</h1>
  <p class="boxed-text-xl">
    Remplie d'astuces et tutoriels.
  </p>
  </div>
  <div class="card-overlay bg-gradient-fade"></div>
  <div class="card-bg owl-lazy" data-src="assets/images/pictures/17m.jpg"></div>
  </div>
  <!-- carousel de formation video -->
  <div class="card rounded-l shadow-l" data-card-height="320">
  <div class="card-bottom">
  <h1 class="font-24 font-700">Formation video</h1>
  <p class="boxed-text-xl">
  Apprenez a maitriser les logiciels que vous téléchargez.
  </p>
  </div>
  <div class="card-overlay bg-gradient-fade"></div>
  <div class="card-bg owl-lazy" data-src="assets/images/pictures/8m.jpg"></div>
  </div>
  <!-- carousel de téléchargement -->
  <div class="card rounded-l shadow-l" data-card-height="320">
  <div class="card-bottom">
  <h1 class="font-24 font-700">Téléchargement</h1>
  <p class="boxed-text-xl">
    Télécharger des milliers de logiciels gratuitement.
  </p>
  </div>
  <div class="card-overlay bg-gradient-fade"></div>
  <div class="card-bg owl-lazy" data-src="assets/images/pictures/14m.jpg"></div>
  </div>
  </div>
  <!-- fin de carousel -->
  <!-- lien vers les sections de page -->
  <div class="content mt-0">
  <div class="row">
    <div class="col-6">
      <a href="/telechargement" class="btn btn-full btn-m rounded-s text-uppercase font-900 shadow-xl bg-highlight">Téléchargement</a>
      </div>
      <div class="col-6">
      <a href="/formation" class="btn btn-full btn-m rounded-s text-uppercase font-900 shadow-xl bg-highlight">Formation Video</a>
      </div>
      <p><br></p>
      <div class="col-6">
      <a href="#" class="btn btn-full btn-border btn-m rounded-s text-uppercase font-900 shadow-l border-highlight color-highlight">Blog</a>
      </div>
      <div class="col-6">
      <a href="#" class="btn btn-full btn-border btn-m rounded-s text-uppercase font-900 shadow-l border-highlight color-highlight">Forums</a>
      </div>


  </div>
  </div>
<!-- fin des liens vers sections de page -->
<!-- theme de couleur -->
  <div id="manual-mode-detected" class="card card-style">
    <div class="content mb-4">


    <div class="d-flex">
    <div class="pt-1">
    <h5 data-activate="toggle-dark" class="font-600">Theme Sombre</h5>
    </div>
    <div class="ml-auto mr-4 pr-2">
    <div class="custom-control ios-switch">
    <input data-toast="switched-color-scheme" data-toggle-theme-switch type="checkbox" class="ios-input" id="toggle-dark">
    <label class="custom-control-label" for="toggle-dark"></label>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- fin du theme de couleur -->
    <!-- steps -->
  <div class="card card-style">
    <div class="content text-center">
    <h2>Connaitre ces trois étapes</h2>
    <p class="boxed-text-xl">
    le but de ce site est de vous aidé a gérer votre entreprise.
    </p>
    </div>
    <div class="divider divider-small mb-3 bg-highlight"></div>
    <div class="content">
    <div class="d-flex mb-4 pb-3">
    <div>
    <i class="far fa-star color-yellow1-dark fa-3x pt-3 icon-size"></i>
    </div>
    <div>
    <h5 class="font-16 font-600">Télécharger les logiciels</h5>
    <p>
    les logiciels sont disponible dans la section téléchargement.
    </p>
    </div>
    </div>
    <div class="d-flex mb-4 pb-3">
    <div>
    <i class="fa fa-mobile-alt color-blue2-dark fa-3x pt-3 icon-size"></i>
    </div>
    <div>
    <h5 class="font-16 font-600">Formation video</h5>
    <p>
    Formez vous a maitriser les logiciels que vous téléchargez sur ce site
    </p>
    </div>
    </div>

    <div class="d-flex mb-2">
    <div>
    <i class="far fa-check-circle color-green1-dark fa-3x pt-3 icon-size"></i>
    </div>
    <div>
    <h5 class="font-16 font-600">Enjailler vous</h5>
    <p>
    Et profitez!
    </p>
    </div>
    </div>
    </div>
    </div>
    <!-- fin des steps -->
    <!-- section de presentation -->
  <div class="card card-style preload-img" data-src="assets/images/pictures/20s.jpg" data-card-height="350">
    <div class="card-center text-center">
      <p class="line-height-xl font-19 font-300 color-white pl-3 pr-3 mb-2">
      Site crée par AMS avec la collaboration AAGR .
      </p>
      <p class="opacity-50 color-white">Assohou Ahoua Guy Rodrigue</p>
      <p class="opacity-50 color-white">Assohou Miesan Stephane</p>
      <img src="assets/images/intro.jpg" class="img-fluid rounded-circle" alt="img">
      </div>
      <div class="card-overlay bg-highlight opacity-95"></div>
      </div>



<!-- footer de la page -->
  <div class="footer" data-menu-load="assets/menu-footer.html"></div>
</div>

  <div id="menu-share" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-load="assets/menu-share.html" data-menu-height="420" data-menu-effect="menu-over">
  </div>
  <div id="menu-highlights" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-load="assets/menu-colors.html" data-menu-height="510" data-menu-effect="menu-over">
  </div>
  <div id="menu-main" class="menu menu-box-right menu-box-detached rounded-m" data-menu-width="260" data-menu-load="assets/menu-main.html" data-menu-active="nav-welcome" data-menu-effect="menu-over">
  </div>

    {{div}}




