<div id="1" class="menu menu-box-modal rounded-m" data-menu-height="460" data-menu-width="400">
  <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/7_lm8eXa89Q?list=PLcZMVrcMYQy5PPBU61q22ZSmJgOf9LoGX' frameborder='0' allowfullscreen></iframe></div>
 <h3 class="text-center font-700 mt-3">1 : INTRODUCTION</h3>
 <p class="boxed-text-l">
 Agrandissez la video et profité
 </p>
 <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
 <br>
 <a href="#" data-menu="2" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
 </div>
 <div id="2" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
   <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/voPuKB6AUFI' frameborder='0' allowfullscreen></iframe></div>
  <h3 class="text-center font-700 mt-3">2 : PRESENTATION DE L'ERGONOMIE DU LOGICIEL</h3>
  <p class="boxed-text-l">
  Agrandissez la video et profité
  </p>
  <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
  <br>
  <a href="#" data-menu="3" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
  </div>
  <div id="3" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
   <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/q3_SxLS3XIo' frameborder='0' allowfullscreen></iframe></div>
  <h3 class="text-center font-700 mt-3">3 : OUVRIR UN FICHIER EXISTANT</h3>
  <p class="boxed-text-l">
  Agrandissez la video et profité
  </p>
  <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
  <br>
  <a href="#" data-menu="4" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
  </div>

  <div id="4" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
   <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/seKfkhxk1sI' frameborder='0' allowfullscreen></iframe></div>
  <h3 class="text-center font-700 mt-3">4 : ENVIRONNEMENT ET POSSIBILITE DE PERSONNALISATION</h3>
  <p class="boxed-text-l">
  Agrandissez la video et profité
  </p>
  <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
  <br>
  <a href="#" data-menu="5" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
  </div>

  <div id="5" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
   <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/92k740Be-sc' frameborder='0' allowfullscreen></iframe></div>
  <h3 class="text-center font-700 mt-3">5 : PERSONNALISER UNE BARRE D'OUTILS</h3>
  <p class="boxed-text-l">
  Agrandissez la video et profité
  </p>
  <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
  <br>
  <a href="#" data-menu="6" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
  </div>

  <div id="6" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
   <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/FnQ4pBCG4UI' frameborder='0' allowfullscreen></iframe></div>
  <h3 class="text-center font-700 mt-3">6 : PERSONNALISER LA BARRE VERTICAL</h3>
  <p class="boxed-text-l">
  Agrandissez la video et profité
  </p>
  <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
  <br>
  <a href="#" data-menu="7" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
  </div>

  <div id="7" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
   <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/WwNY9t4tsts' frameborder='0' allowfullscreen></iframe></div>
  <h3 class="text-center font-700 mt-3">7 : PERSONNALISER L'INTUI SAGE</h3>
  <p class="boxed-text-l">
  Agrandissez la video et profité
  </p>
  <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
  <br>
  <a href="#" data-menu="8" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
  </div>

  <div id="8" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
   <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/O9YqJsD_l2M' frameborder='0' allowfullscreen></iframe></div>
  <h3 class="text-center font-700 mt-3">8 : LES LISTES ET PERSONNALISATION D'AFFICHE</h3>
  <p class="boxed-text-l">
  Agrandissez la video et profité
  </p>
  <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
  <br>
  <a href="#" data-menu="9" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
  </div>

  <div id="9" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
   <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/-GLNk9aOtKs' frameborder='0' allowfullscreen></iframe></div>
  <h3 class="text-center font-700 mt-3">9 : LES TRIS ET RECHERCHES</h3>
  <p class="boxed-text-l">
  Agrandissez la video et profité
  </p>
  <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
  <br>
  <a href="#" data-menu="10" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
  </div>

  <div id="10" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
   <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/Ai3GZXIpMUY' frameborder='0' allowfullscreen></iframe></div>
  <h3 class="text-center font-700 mt-3">10 : PERSONNALISATION DES LISTES</h3>
  <p class="boxed-text-l">
  Agrandissez la video et profité
  </p>
  <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
  <br>
  <a href="#" data-menu="11" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
  </div>

  <div id="11" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
   <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/ZPq8nuG8Yg4' frameborder='0' allowfullscreen></iframe></div>
  <h3 class="text-center font-700 mt-3">11 : CREATION DU FICHIER COMPTABLE A L'AIDE DE L'ASSISTANT</h3>
  <p class="boxed-text-l">
  Agrandissez la video et profité
  </p>
  <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
  <br>
  <a href="#" data-menu="12" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
  </div>

  <div id="12" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
   <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/2pGDC-jVZOM' frameborder='0' allowfullscreen></iframe></div>
  <h3 class="text-center font-700 mt-3">12 : ENREGISTREMENT DU FICHIER</h3>
  <p class="boxed-text-l">
  Agrandissez la video et profité
  </p>
  <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
  <br>
  <a href="#" data-menu="13" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
  </div>

  <div id="13" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
   <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/ntLoDQ0w0Zs' frameborder='0' allowfullscreen></iframe></div>
  <h3 class="text-center font-700 mt-3">13 : LES PARAMETRES SOCIETE </h3>
  <p class="boxed-text-l">
  Agrandissez la video et profité
  </p>
  <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
  <br>
  <a href="#" data-menu="14" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
  </div>


  <div id="14" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
   <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/8Uddc0-abTA' frameborder='0' allowfullscreen></iframe></div>
  <h3 class="text-center font-700 mt-3">14 : CREATION DES CONTACTS</h3>
  <p class="boxed-text-l">
  Agrandissez la video et profité
  </p>
  <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
  <br>
  <a href="#" data-menu="15" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
  </div>

  <div id="15" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
   <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/_gS2q1PSNGU' frameborder='0' allowfullscreen></iframe></div>
  <h3 class="text-center font-700 mt-3">15 : CREATION ET PARAMETRAGE DU OU DES BANQUE</h3>
  <p class="boxed-text-l">
  Agrandissez la video et profité
  </p>
  <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
  <br>
  <a href="#" data-menu="16" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
  </div>

  <div id="16" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
   <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/bK305QyBDs0' frameborder='0' allowfullscreen></iframe></div>
  <h3 class="text-center font-700 mt-3">16 : LES CODE JOURNAUX</h3>
  <p class="boxed-text-l">
  Agrandissez la video et profité
  </p>
  <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
  <br>
  <a href="#" data-menu="17" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
  </div>

  <div id="17" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
   <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/MAljZZswMJE' frameborder='0' allowfullscreen></iframe></div>
  <h3 class="text-center font-700 mt-3">17 : LES TAUX DE TAXES</h3>
  <p class="boxed-text-l">
  Agrandissez la video et profité
  </p>
  <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
  <br>
  <a href="#" data-menu="18" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
  </div>

  <div id="18" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
   <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/1SNSeeTRsno' frameborder='0' allowfullscreen></iframe></div>
  <h3 class="text-center font-700 mt-3">18 : LES MODELES DE REGLEMENT</h3>
  <p class="boxed-text-l">
  Agrandissez la video et profité
  </p>
  <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
  <br>
  <a href="#" data-menu="19" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
  </div>

  <div id="19" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
   <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/FVeGH1vaElc' frameborder='0' allowfullscreen></iframe></div>
  <h3 class="text-center font-700 mt-3">19 : LE PLAN COMPTABLE CREE, MODIFIER ET SUPPRIMER UN COMPTE</h3>
  <p class="boxed-text-l">
  Agrandissez la video et profité
  </p>
  <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
  <br>
  <a href="#" data-menu="20" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
  </div>

  <div id="20" class="menu menu-box-modal rounded-m"  data-menu-height="460" data-menu-width="400">
   <div class='responsive-iframe max-iframe'><iframe src='https://www.youtube.com/embed/ZoKH7_OOUjQ' frameborder='0' allowfullscreen></iframe></div>
  <h3 class="text-center font-700 mt-3">2O : LE PLAN TIERS CREER, MODIFIER ET SUPPRIMER UN COMPTE DE TIERS (1/2)</h3>
  <p class="boxed-text-l">
  Agrandissez la video et profité
  </p>
  <a href="#"  class="close-menu btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Terminer</a>
  <br>
  <a href="#" data-menu="21" class="btn btn-center-m btn-sm shadow-l rounded-s text-uppercase font-900 bg-green1-dark">Suivant</a>
  </div>
