<div class="header header-fixed header-auto-show header-logo-app">
  <a href="#0" class="header-title">AMS</a>
  <a href="#" data-menu="menu-main" class="header-icon header-icon-1"><i class="fas fa-bars"></i></a>
  <a href="#" data-toggle-theme class="header-icon header-icon-2 show-on-theme-dark"><i class="fas fa-sun"></i></a>
  <a href="#" data-toggle-theme class="header-icon header-icon-2 show-on-theme-light"><i class="fas fa-moon"></i></a>
  <a href="#" data-menu="menu-highlights" class="header-icon header-icon-3"><i class="fas fa-brush"></i></a>
  </div>
  <div id="footer-bar" class="footer-bar-5">
    <a href="contact" class="active-nav"><i data-feather="phone" data-feather-line="1" data-feather-size="21" data-feather-color="red2-dark" data-feather-bg="red2-fade-light"></i><span>Contact</span></a>
    <a href="/telechargement"><i data-feather="download" data-feather-line="1" data-feather-size="21" data-feather-color="green1-dark" data-feather-bg="green1-fade-light"></i><span>Téléchargement</span></a>
    <a href="/" ><i data-feather="home" data-feather-line="1" data-feather-size="21" data-feather-color="blue2-dark" data-feather-bg="blue2-fade-light"></i><span>Accueil</span></a>
    <a href="/formation"><i data-feather="youtube" data-feather-line="1" data-feather-size="21" data-feather-color="brown1-dark" data-feather-bg="brown1-fade-light"></i><span>Formation</span></a>
    <a href="/parametre" ><i data-feather="settings" data-feather-line="1" data-feather-size="21" data-feather-color="gray2-dark" data-feather-bg="gray2-fade-light"></i><span>Paramètre</span></a>
    </div>
<div class="page-content">
<div class="page-title page-title-small">
<h2><a href="/"><i class="fa fa-arrow-left"></i></a>Contact</h2>
<a href="#" data-menu="menu-main" class="bg-fade-gray1-dark shadow-xl preload-img" data-src="assets/images/avatars/5s.png"></a>
</div>
<div class="card header-card shape-rounded" data-card-height="90">
  <div class="card-overlay bg-highlight opacity-95"></div>
  <div class="card-overlay dark-mode-tint"></div>
  <div class="card-bg bg-20"></div>
  </div>
  <div class="card card-style">
  <div class="responsive-iframe">
  <iframe src='https://maps.google.com/?ie=UTF8&amp;ll=47.595131,-122.330414&amp;spn=0.006186,0.016512&amp;t=h&amp;z=17&amp;output=embed' frameborder='0' allowfullscreen></iframe>
  </div>
  </div>

  <div class="card card-style">
  <div class="content mb-0">
  <h3 class="font-700">Localisation de AMS</h3>
  <p class="pb-0 mb-0">Abidjan, Yopougon</p>

  <div class="list-group list-custom-small">
  <a href="tel:+225 57961200">
  <i class="fa font-14 fa-phone color-phone"></i>
  <span>+225 57961200</span>
  <span class="badge bg-highlight color-white">Appeler nous</span>
  <i class="fa fa-angle-right"></i>
  </a>
  <a href="mailto:assohoustephane@gmail.com">
  <i class="fa font-14 fa-envelope color-mail"></i>
  <span>assohoustephane@gmail.com</span>
  <span class="badge bg-highlight color-white">email</span>
  <i class="fa fa-angle-right"></i>
  </a>
  <a href="https://www.facebook.com/enabled.labs/">
  <i class="fab font-14 fa-facebook color-facebook"></i>
  <span>AMS</span>
  <i class="fa fa-link"></i>
  </a>
  <a href="https://twitter.com/iEnabled">
  <i class="fab font-14 fa-twitter-square color-twitter"></i>
  <span>AMS</span>
  <i class="fa fa-link"></i>
  </a>
  <a href="#" class="border-0">
  <i class="fab font-14 fa-linkedin color-linkedin"></i>
  <span>AMS</span>
  <i class="fa fa-link"></i>
  </a>
  </div>
  </div>
  </div>


<div class="footer" data-menu-load="assets/menu-footer.html"></div>
</div>

<div id="menu-share" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-load="assets/menu-share.html" data-menu-height="420" data-menu-effect="menu-over">
</div>
<div id="menu-highlights" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-load="assets/menu-colors.html" data-menu-height="510" data-menu-effect="menu-over">
</div>
<div id="menu-main" class="menu menu-box-right menu-box-detached rounded-m" data-menu-width="260" data-menu-load="assets/menu-main.html" data-menu-active="nav-settings" data-menu-effect="menu-over">
</div>
