<div class="header header-fixed header-auto-show header-logo-app">
  <a href="#0" class="header-title">AMS</a>
  <a href="#" data-menu="menu-main" class="header-icon header-icon-1"><i class="fas fa-bars"></i></a>
  <a href="#" data-toggle-theme class="header-icon header-icon-2 show-on-theme-dark"><i class="fas fa-sun"></i></a>
  <a href="#" data-toggle-theme class="header-icon header-icon-2 show-on-theme-light"><i class="fas fa-moon"></i></a>
  <a href="#" data-menu="menu-highlights" class="header-icon header-icon-3"><i class="fas fa-brush"></i></a>
  </div>
  <div id="footer-bar" class="footer-bar-5">
    <a href="contact"><i data-feather="phone" data-feather-line="1" data-feather-size="21" data-feather-color="red2-dark" data-feather-bg="red2-fade-light"></i><span>Contact</span></a>
    <a href="/telechargement"><i data-feather="download" data-feather-line="1" data-feather-size="21" data-feather-color="green1-dark" data-feather-bg="green1-fade-light"></i><span>Téléchargement</span></a>
    <a href="/" ><i data-feather="home" data-feather-line="1" data-feather-size="21" data-feather-color="blue2-dark" data-feather-bg="blue2-fade-light"></i><span>Accueil</span></a>
    <a href="/formation" class="active-nav"><i data-feather="youtube" data-feather-line="1" data-feather-size="21" data-feather-color="brown1-dark" data-feather-bg="brown1-fade-light"></i><span>Formation</span></a>
    <a href="/parametre" ><i data-feather="settings" data-feather-line="1" data-feather-size="21" data-feather-color="gray2-dark" data-feather-bg="gray2-fade-light"></i><span>Paramètre</span></a>
    </div>
<div class="page-content">
<div class="page-title page-title-small">
<h2><a href="#" class="back-button"><i class="fa fa-arrow-left"></i></a>Sage Comptabilité</h2>
<a href="#" data-menu="menu-main" class="bg-fade-gray1-dark shadow-xl preload-img" data-src="assets/images/avatars/5s.png"></a>
</div>
<div class="card header-card shape-rounded" data-card-height="150">
<div class="card-overlay bg-highlight opacity-95"></div>
<div class="card-overlay dark-mode-tint"></div>
<div class="card-bg bg-20"></div>
</div>
<div class="card card-style">

</div>
<div class="card card-style">
<div class="content mt-0 mb-0">
<div class="list-group list-custom-small list-icon-0">
  <a href="#" data-menu="41">
    <i class="fab fa-youtube color-highlight"></i>
    <span>41 : LA RECHERCHE D'ÉCRITURES</span>
    <i class="fa fa-angle-right"></i>
    </a>
    <a href="#" data-menu="42">
      <i class="fab fa-youtube color-highlight"></i>
      <span>42 : LA RÉIMPUTATION DES COMPTES</span>
      <i class="fa fa-angle-right"></i>
      </a>
      <a href="#" data-menu="43">
        <i class="fab fa-youtube color-highlight"></i>
        <span>43 : SAISIE DES RÈGLEMENTS DES FOURNISSEURS</span>
        <i class="fa fa-angle-right"></i>
        </a>
        <a href="#" data-menu="44">
          <i class="fab fa-youtube color-highlight"></i>
          <span>44 : SAISIE DES RÈGLEMENTS DES CLIENTS</span>
          <i class="fa fa-angle-right"></i>
          </a>
          <a href="#" data-menu="45">
            <i class="fab fa-youtube color-highlight"></i>
            <span>45 : SAISIE DU LIVRE DE CAISSE</span>
            <i class="fa fa-angle-right"></i>
            </a>
            <a href="#" data-menu="46">
              <i class="fab fa-youtube color-highlight"></i>
              <span>46 : CONTRÔLER LES RÈGLEMENTS</span>
              <i class="fa fa-angle-right"></i>
              </a>
              <a href="#" data-menu="47">
                <i class="fab fa-youtube color-highlight"></i>
                <span>47 : RAPPROCHEMENT BANCAIRE MANUEL</span>
                <i class="fa fa-angle-right"></i>
                </a>
                <a href="#" data-menu="48">
                  <i class="fab fa-youtube color-highlight"></i>
                  <span>48 : SAISIR LES ÉCRITURES DE RÉGULARISATION ET CONTRÔLER LA SAISIE</span>
                  <i class="fa fa-angle-right"></i>
                  </a>
                  <a href="#" data-menu="49">
                    <i class="fab fa-youtube color-highlight"></i>
                    <span>49 : ÉDITER ET CONSULTER LES RAPPROCHEMENTS BANCAIRES</span>
                    <i class="fa fa-angle-right"></i>
                    </a>
                    <a href="#" data-menu="50">
                      <i class="fab fa-youtube color-highlight"></i>
                      <span>50 : IMPORTER UN RELEVÉ BANCAIRE OU SAISIR LA BANQUE</span>
                      <i class="fa fa-angle-right"></i>
                      </a>
</div>
</div>
</div>
<nav aria-label="pagination-demo">
  <ul class="pagination pagination- justify-content-center">
  <li class="page-item">
  <a class="page-link rounded-l color-white bg-gray2-dark shadow-xl border-0" href="#" tabindex="-1" aria-disabled="true"><i class="fa fa-angle-left"></i></a>
  </li>
  <li class="page-item"><a class="page-link rounded-l bg-red2-dark shadow-xl border-0" href="/formation/sage-comptabilite">1</a></li>
  <li  class="page-item"><a class="page-link rounded-l bg-red2-dark shadow-xl border-0" href="/formation/sage-comptabilite/2">2</a></li>
  <li class="page-item"><a class="page-link rounded-l bg-red2-dark shadow-xl border-0" href="/formation/sage-comptabilite/3">3</a></li>
  <li class="page-item"><a class="page-link rounded-l bg-red2-dark shadow-xl border-0" href="/formation/sage-comptabilite/4">4</a></li>
  <li class="page-item"><a class="page-link rounded-l bg-red2-dark shadow-xl border-0" href="/formation/sage-comptabilite/5">5</a></li>
  <li class="page-item"><a class="page-link rounded-l bg-red2-dark shadow-xl border-0" href="/formation/sage-comptabilite/6">6</a></li>
  <li class="page-item"><a class="page-link rounded-l bg-red2-dark shadow-xl border-0" href="/formation/sage-comptabilite/7">7</a></li>
  <li  class="page-item"><a class="page-link rounded-l bg-red2-dark shadow-xl border-0" href="/formation/sage-comptabilite/8">8</a></li>

  <li class="page-item">
  <a class="page-link rounded-l color-white bg-gray2-dark shadow-xl border-0" href="#"><i class="fa fa-angle-right"></i></a>
  </li>
  </ul>
  </nav>
<div class="footer" data-menu-load="assets/menu-footer.html"></div>
</div>

<div id="menu-share" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-load="assets/menu-share.html" data-menu-height="420" data-menu-effect="menu-over">
</div>
<div id="menu-highlights" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-load="assets/menu-colors.html" data-menu-height="510" data-menu-effect="menu-over">
</div>
<div id="menu-main" class="menu menu-box-right menu-box-detached rounded-m" data-menu-width="260" data-menu-load="assets/menu-main.html" data-menu-active="nav-settings" data-menu-effect="menu-over">
</div>


<app-code></app-code>
{{div}}
