
<div class="page-content pb-0">
  <div class="cover-slider  owl-carousel mb-0">
  <div class="card" data-card-height="cover">
  <div class="card-center card card-style text-center">
  <h1 class="fa-4x font-900 color-highlight pt-5">AMS</h1>
  <h4 class="font-300 font-17 mt-2 opacity-50">Toujour gratuit</h4>
  <p class="boxed-text-xl pt-4 pb-4 font-15 line-height-xl font-400">
  Bienvenue chez AMS. Ici vous trouverez des logiciels et formation Videos
  </p>
  <a href="#" class="next-slide-user mb-4 btn btn-center-m btn-m bg-highlight color-white rounded-sm font-900 text-uppercase scale-box">Configuration</a>
  </div>
  <div class="card-overlay bg-highlight"></div>
  <div class="card-overlay bg-theme opacity-20"></div>
  </div>
  <div class="card" data-card-height="cover">
  <div class="card-center card card-style text-center">
  <h1 class="font-30 font-700 color-highlight pt-5">MODE SOMBRE</h1>
  <h4 class="font-300 font-17 opacity-50">Activez le mode sombre</h4>
  <p class="boxed-text-xl pt-4 pb-4 font-15 line-height-xl font-400">
AMS va detecter a chaque visite sur le site le mode choisir
  </p>
  <div class="row">
  <div class="col-6">
  <a href="#" data-toggle-theme-switch class="float-right btn btn-center-m btn-m btn-border border-highlight color-highlight rounded-sm font-900 text-uppercase">MODE SOMBRE</a>
  </div>
  <div class="col-6">
  <a href="#" class="next-slide-user float-left btn btn-center-m btn-m bg-highlight color-white rounded-sm font-900 text-uppercase scale-box">Suivant</a>
  </div>
  </div>
  </div>
  <div class="card-overlay bg-highlight"></div>
  <div class="card-overlay bg-theme opacity-20"></div>
  </div>
  <div class="card" data-card-height="cover">
  <div class="card-center card card-style text-center">
  <h1 class="font-30 font-700 color-highlight pt-5">COULEURS</h1>
  <h4 class="font-300 font-17 opacity-50">Des tonnes de couleurs</h4>
  <p class="boxed-text-xl pt-4 pb-4 font-15 line-height-xl font-400">
  Change la couleur du site  ton goùt
  </p>
  <div class="row">
   <div class="col-6">
  <a href="#" data-menu="menu-highlights" class="float-right btn btn-center-m btn-m btn-border border-highlight color-highlight rounded-sm font-900 text-uppercase">COULEUR</a>
  </div>
  <div class="col-6">
  <a href="#" class="next-slide-user float-left btn btn-center-m btn-m bg-highlight color-white rounded-sm font-900 text-uppercase scale-box">suivant</a>
  </div>
  </div>
  </div>
  <div class="card-overlay bg-highlight"></div>
  <div class="card-overlay bg-theme opacity-20"></div>
  </div>
  <div class="card" data-card-height="cover">
  <div class="card-center card card-style text-center">
  <h1 class="font-30 font-700 color-highlight pt-5">TOUT EST PRET</h1>
<br>
  <a href="/" class=" mb-4 btn btn-center-m btn-m bg-highlight color-white rounded-sm font-900 text-uppercase scale-box">Commençons</a>
  </div>
  <div class="card-overlay bg-highlight"></div>
  <div class="card-overlay bg-theme opacity-20"></div>
  </div>
  </div>


  <div id="menu-highlights" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-load="assets/menu-colors.html" data-menu-height="510" data-menu-effect="menu-over">
  </div>
</div>


{{div}}
