<div class="header header-fixed header-auto-show header-logo-app">
  <a href="#0" class="header-title">AMS</a>
  <a href="#" data-menu="menu-main" class="header-icon header-icon-1"><i class="fas fa-bars"></i></a>
  <a href="#" data-toggle-theme class="header-icon header-icon-2 show-on-theme-dark"><i class="fas fa-sun"></i></a>
  <a href="#" data-toggle-theme class="header-icon header-icon-2 show-on-theme-light"><i class="fas fa-moon"></i></a>
  <a href="#" data-menu="menu-highlights" class="header-icon header-icon-3"><i class="fas fa-brush"></i></a>
  </div>
  <div id="footer-bar" class="footer-bar-5">
    <a href="a-propos"><i data-feather="phone" data-feather-line="1" data-feather-size="21" data-feather-color="red2-dark" data-feather-bg="red2-fade-light"></i><span>Contact</span></a>
    <a href="/telechargement" class="active-nav"><i data-feather="download" data-feather-line="1" data-feather-size="21" data-feather-color="green1-dark" data-feather-bg="green1-fade-light"></i><span>Telechargement</span></a>
    <a href="/" ><i data-feather="home" data-feather-line="1" data-feather-size="21" data-feather-color="blue2-dark" data-feather-bg="blue2-fade-light"></i><span>Accueil</span></a>
    <a href="/formation"><i data-feather="youtube" data-feather-line="1" data-feather-size="21" data-feather-color="brown1-dark" data-feather-bg="brown1-fade-light"></i><span>Formation</span></a>
    <a href="/parametre" ><i data-feather="settings" data-feather-line="1" data-feather-size="21" data-feather-color="gray2-dark" data-feather-bg="gray2-fade-light"></i><span>Paramètre</span></a>
    </div>
    <div class="page-content">
      <div class="page-title page-title-small">
      <h2><a href="/telechargement"><i class="fa fa-arrow-left"></i></a>Adobe</h2>
      <a href="#" data-menu="menu-main" class="bg-fade-gray1-dark shadow-xl preload-img" data-src="assets/images/avatars/5s.png"></a>
      </div>
      <div class="card header-card shape-rounded" data-card-height="150">
        <div class="card-overlay bg-highlight opacity-95"></div>
        <div class="card-overlay dark-mode-tint"></div>
        <div class="card-bg preload-img" data-src="assets/images/pictures/20s.png"></div>
        </div>
  <a href="/telechargement/photoshop" class="card card-style mb-3">
  <div class="d-flex pt-3 pb-3">
  <div class="mt-2 pl-3 ml-2">
  <h1 class="center-text">
  <i data-feather="file" data-feather-line="1" data-feather-size="50" data-feather-color="gray2-dark" data-feather-bg="gray2-fade-light">
  </i>
  </h1>
  </div>
  <div class="pt-2 mt-1 pl-4">
  <h4 class="color-theme font-600">Adobe Photoshop</h4>
  <p class="mt-n2 font-11 color-highlight mb-2">
  Adobe Photoshop est un logiciel de montage photo
  </p>
  </div>
  <div class="ml-auto align-self-center mr-3">
  <span class="badge bg-highlight color-white font-10 py-1 px-2">NEW</span>
  </div>
  </div>
  </a>
  <a href="/telechargement/premierepro" class="card card-style mb-3">
    <div class="d-flex pt-3 pb-3">
    <div class="mt-2 pl-3 ml-2">
    <h1 class="center-text">
    <i data-feather="file" data-feather-line="1" data-feather-size="50" data-feather-color="gray2-dark" data-feather-bg="gray2-fade-light">
    </i>
    </h1>
    </div>
    <div class="pt-2 mt-1 pl-4">
    <h4 class="color-theme font-600">Adobe Premère Pro</h4>
    <p class="mt-n2 font-11 color-highlight mb-2">
    Adobe Première Pro est un logiciel de montage video
    </p>
    </div>
    <div class="ml-auto align-self-center mr-3">
    <span class="badge bg-highlight color-white font-10 py-1 px-2">NEW</span>
    </div>
    </div>
    </a>
    <a href="/telechargement/animate" class="card card-style mb-3">
      <div class="d-flex pt-3 pb-3">
      <div class="mt-2 pl-3 ml-2">
      <h1 class="center-text">
      <i data-feather="file" data-feather-line="1" data-feather-size="50" data-feather-color="gray2-dark" data-feather-bg="gray2-fade-light">
      </i>
      </h1>
      </div>
      <div class="pt-2 mt-1 pl-4">
      <h4 class="color-theme font-600">Adobe Animate</h4>
      <p class="mt-n2 font-11 color-highlight mb-2">
      Adobe Photoshop est un logiciel d'animation
      </p>
      </div>
      <div class="ml-auto align-self-center mr-3">
      <span class="badge bg-highlight color-white font-10 py-1 px-2">NEW</span>
      </div>
      </div>
      </a>
      <a href="/telechargement/acrobat" class="card card-style mb-3">
        <div class="d-flex pt-3 pb-3">
        <div class="mt-2 pl-3 ml-2">
        <h1 class="center-text">
        <i data-feather="file" data-feather-line="1" data-feather-size="50" data-feather-color="gray2-dark" data-feather-bg="gray2-fade-light">
        </i>
        </h1>
        </div>
        <div class="pt-2 mt-1 pl-4">
        <h4 class="color-theme font-600">Adobe Acrobat DC</h4>
        <p class="mt-n2 font-11 color-highlight mb-2">
        Adobe Acrobat est un logiciel PDF
        </p>
        </div>
        <div class="ml-auto align-self-center mr-3">
        <span class="badge bg-highlight color-white font-10 py-1 px-2">NEW</span>
        </div>
        </div>
        </a>
  <div class="footer" data-menu-load="assets/menu-footer.html"></div>
</div>

<div id="menu-share" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-load="assets/menu-share.html" data-menu-height="420" data-menu-effect="menu-over">
</div>
<div id="menu-highlights" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-load="assets/menu-colors.html" data-menu-height="510" data-menu-effect="menu-over">
</div>
<div id="menu-main" class="menu menu-box-right menu-box-detached rounded-m" data-menu-width="260" data-menu-load="assets/menu-main.html" data-menu-active="nav-settings" data-menu-effect="menu-over">
</div>
{{div}}
