<div class="header header-fixed header-auto-show header-logo-app">
  <a href="#0" class="header-title">AMS</a>
  <a href="#" data-menu="menu-main" class="header-icon header-icon-1"><i class="fas fa-bars"></i></a>
  <a href="#" data-toggle-theme class="header-icon header-icon-2 show-on-theme-dark"><i class="fas fa-sun"></i></a>
  <a href="#" data-toggle-theme class="header-icon header-icon-2 show-on-theme-light"><i class="fas fa-moon"></i></a>
  <a href="#" data-menu="menu-highlights" class="header-icon header-icon-3"><i class="fas fa-brush"></i></a>
  </div>
  <div id="footer-bar" class="footer-bar-5">
    <a href="contact"><i data-feather="phone" data-feather-line="1" data-feather-size="21" data-feather-color="red2-dark" data-feather-bg="red2-fade-light"></i><span>Contact</span></a>
    <a href="/telechargement"><i data-feather="download" data-feather-line="1" data-feather-size="21" data-feather-color="green1-dark" data-feather-bg="green1-fade-light"></i><span>Telechargement</span></a>
    <a href="/" ><i data-feather="home" data-feather-line="1" data-feather-size="21" data-feather-color="blue2-dark" data-feather-bg="blue2-fade-light"></i><span>Accueil</span></a>
    <a href="/formation"><i data-feather="youtube" data-feather-line="1" data-feather-size="21" data-feather-color="brown1-dark" data-feather-bg="brown1-fade-light"></i><span>Formation</span></a>
    <a href="/parametre" ><i data-feather="settings" data-feather-line="1" data-feather-size="21" data-feather-color="gray2-dark" data-feather-bg="gray2-fade-light"></i><span>Paramètre</span></a>
    </div>
<div class="page-content">
<div class="page-title page-title-small">
<h2><a href="#" class="back-button"><i class="fa fa-arrow-left"></i></a>Page Introuvable</h2>
<a href="#" data-menu="menu-main" class="bg-fade-gray1-dark shadow-xl preload-img" data-src="assets/images/avatars/5s.png"></a>
</div>
<div class="card header-card shape-rounded" data-card-height="150">
  <div class="card-overlay bg-highlight opacity-95"></div>
  <div class="card-overlay dark-mode-tint"></div>
  <div class="card-bg bg-20"></div>
  </div>
  <div class="card card-style text-center">
  <div class="content pt-4 pb-4">
  <h1><i class="fa fa-exclamation-triangle color-red2-dark fa-5x"></i></h1>
  <h1 class="fa-6x pt-5 pb-2">404</h1>
  <h3 class="text-uppercase pb-3">Page non trouvé</h3>
  <p class="boxed-text-l">
  La page que vous recherchez n'existe pas
  </p>
  <div class="row mb-0">
   <div class="col-6 pr-0"><a href="#" class="back-button btn btn-m btn-center-m bg-highlight font-800 text-uppercase">Retour a l'accueil</a></div>
  <div class="col-6 pl-0"><a href="#" class="back-button btn btn-m btn-center-m bg-highlight font-800 text-uppercase">Contacter</a></div>
  </div>
  </div>
  </div>
  <div class="footer" data-menu-load="assets/menu-footer.html"></div>
</div>

<div id="menu-share" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-load="assets/menu-share.html" data-menu-height="420" data-menu-effect="menu-over">
</div>
<div id="menu-highlights" class="menu menu-box-bottom menu-box-detached rounded-m" data-menu-load="assets/menu-colors.html" data-menu-height="510" data-menu-effect="menu-over">
</div>
<div id="menu-main" class="menu menu-box-right menu-box-detached rounded-m" data-menu-width="260" data-menu-load="assets/menu-main.html" data-menu-active="nav-settings" data-menu-effect="menu-over">
</div>
{{div}}
